{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Machine Tools{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">TEAM JIVA|INDUSTRY HACK</a>
    </div>
    <div id="subheader">
        <h3>Automating Machine Tools| Cost Management</h3>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
